p {
    color:blue;
    }
    
    .funParagraph {
    color: green;
    }
    
    #mainHeading {
    color:red;
    }
    
    #testP {
        font-family: verdana;
        font-size: 20px;
      }